
.header {
	font-family: 'Yesteryear';
	font-size: 80px;
	text-align: center;
	padding:15px 0;
	margin: auto;
	border-bottom: #87adde;
	border-bottom-style: ridge;

}
 .subheading {
 	font-size: 32px;
 	font-family: arial;
 	margin-top: 20px;
 	margin-left: 37%;
 	font-weight: bold;
 	text-decoration: underline;
 	margin-right: -10px;
 }

 .break-even {
 	font-size: 18px;
 	padding-left: 12px;
 	padding-top: 10px;
 	font-style: italic;
 }

.dropDown {
	padding-top: 15px;
	clear: both;
	height: 20px;
}

#team {
margin-top: 20px;
font-size: 20px;
clear: both;
height: 40px;
}

select {
	height: 30px;
	font-size: 18px;
	background-color: #FFFFFF;
}

button {
	clear: both;
	margin-top: 15px;
	height: 50px;
	width: 150px;
	border-radius: 5px;
	background-color: #E37527;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 10px;
}

button:hover {
	background-color:#deb887;

}
.resultsTable {
	font-size:12px;
	width:50%;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
	margin:auto;
	clear: both;
	margin-right: 25%;
	margin-bottom: 15px;

}

.resultsTable tr {
	background-color: #DBDBDB;

}
.resultsTable td {
	font-size: 12px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}
.resultsTable tr:hover {
	background-color:#deb887;
}

#winLossTable td {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	height: 30px;
	width: 50%;
}

#overUnderTable td {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	height: 20px;
	width: 20%;
}

#gamesTable td {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	height: 20px;
	width: 20%;
	opacity: .85;
}

#teamLogo {
	height: 110px;
	width: 150px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
	margin-top: 50px;
	-webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.green {
	color: green;
}

.red {
	color: red;
}

section {
	margin-top: 20px;
}

.ATL {
	background-image: url(../img/atl.gif);
}

.BK {
	background-image: url(../img/bk.gif);
}

.BOS {
	background-image: url(../img/bos.gif);
}

.CHAR {
	background-image: url(../img/cha.gif);
}

.CHI {
	background-image: url(../img/chi.gif);
}

.CLE {
	background-image: url(../img/cle.gif);
}

.DAL {
	background-image: url(../img/dal.gif);
}

.DEN {
	background-image: url(../img/den.gif);
}

.DET {
	background-image: url(../img/det.gif);
}

.GS {
	background-image: url(../img/gs.gif);
}

.HOU {
	background-image: url(../img/hou.gif);
}

.IND {
	background-image: url(../img/ind.gif);
}

.LAC {
	background-image: url(../img/lac.gif);
}

.LAL {
	background-image: url(../img/lal.gif);
}

.MEM {
	background-image: url(../img/mem.gif);
}

.MIA {
	background-image: url(../img/mia.gif);
}

.MIL {
	background-image: url(../img/mil.gif);
}

.MIN {
	background-image: url(../img/min.gif);
}

.nba {
	background-image: url(../img/nba.gif);
}
.NO {
	background-image: url(../img/no.gif);
}

.NY {
	background-image: url(../img/ny.gif);
}

.OKC {
	background-image: url(../img/okc.gif);
}

.ORL {
	background-image: url(../img/orl.gif);
}

.PHI {
	background-image: url(../img/phi.gif);
}

.PHO {
	background-image: url(../img/phx.gif);
}

.POR {
	background-image: url(../img/por.gif);
}

.SA {
	background-image: url(../img/sa.gif);
}

.SAC {
	background-image: url(../img/sac.gif);
}

.TOR {
	background-image: url(../img/tor.gif);
}

.UTA {
	background-image: url(../img/uta.gif);
}

.WAS {
	background-image: url(../img/was.gif);
}
