.header {
	font-family: 'BentonSansBold';
	font-size: 64px;
	font-style: italic;
	text-align: center;
	padding:15px 0;
	margin: auto;
	border-bottom: #87adde;
	border-bottom-style: ridge;

}
 .subheading {
  font-family: arial;
  text-decoration: underline;
  font-weight: bold;
 	font-size: 32px;
 	margin-top: 20px;
 	margin-left: 37%;
 	margin-right: -10px;
 }

.navBar {
 	height: 60px;
 	background-color: #003366;
 	font-family: 'BentonSansBold';
 	color: white;
 	font-size: 24px;
 }

 .nav {
 	color: white;
 }

.currentNav {
 	color: #FFE0B2;
 }

 #nbaNav {
	margin-left: 320px;
 	margin-top: 18px;
 	display: inline-block;
 	text-decoration: none;
 }

 #nflNav, #cfbNav {
	margin-left: 40px;
	display: inline-block;
	text-decoration: none;
 }

.breakEven {
 	font-size: 18px;
 	padding-left: 12px;
 	padding-top: 10px;
 	font-style: italic;
 }

.breakEvenSection {
	height: 43px;
}

.dropdown {
	padding-top: 15px;
	display: inline-block;
	width: 340px;
}

.dropDownSection {
	clear: both;
}

.optionTitle {
	font-weight: bold;
}

#cfbTeam {
margin-top: 80px;
font-size: 20px;
height: 40px;
}

#team, #teamAbbrev {
margin-top: 80px;
font-size: 20px;
clear: both;
height: 40px;
}

.selectWithoutRange {
	font-family: 'BentonSansRegular';
	height: 30px;
	font-size: 18px;
	background-color: #FFFFFF;
	width: 340px;
}

.selectRangeEnabled {
	font-family: 'BentonSansRegular';
	height: 30px;
	font-size: 18px;
	background-color: #FFFFFF;
	width: auto;
}

select[disabled="disabled"] {
	font-family: 'BentonSansRegular';
	height: 30px;
	font-size: 18px;
	background-color: #E6E6E6;
	width: auto;
}

.selectRangeSelected {
	font-family: 'BentonSansRegular';
	height: 30px;
	font-size: 18px;
	background-color: #FFFF94;
	width: auto;
}

.rangeInput {
	padding-left: 5px;
	width: 80px;
}

button {
  font-family: 'BentonSansRegular';
	clear: both;
	margin-top: 40px;
	height: 50px;
	width: 150px;
	border-radius: 5px;
	background-color: #E37527;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-right: 10px;
}

button:hover {
	background-color:#deb887;
}

.resultsTable {
	font-family: 'BentonSansBold';
	font-size:12px;
	width:50%;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	margin:auto;
	clear: both;
	margin-right: 25%;
	margin-bottom: 15px;
	border-style: solid;
	border-top-color: black;
	border-top-style: solid;
}

.resultsTable td {
	font-size: 12px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

#winLossTable td {
	font-size: 25px;
	text-align: center;
	height: 30px;
	width: 50%;
	border-color: black;
}

#overUnderTable td {
	font-size: 18px;
	text-align: center;
	height: 20px;
	width: 20%;
	border-color: black;
}

#gamesTable tr {
	background-color: #EEEEEE;
	opacity: .90;
}

#gamesTable tr:nth-child(1) {
	border-color: black;
	background-color: #003366;
	color: white;
	opacity: 1;
}

#gamesTable td {
	font-size: 18px;
	text-align: center;
	height: 20px;
	width: 20%;
	opacity: .90;
}

#teamLogo {
	height: 110px;
	width: 150px;
	background-repeat: no-repeat;
	clear: both;
	margin: 0 auto;
	-webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.green {
	color: green;
}

.red {
	color: red;
}

.nba {
	background-image: url(../img/nba.gif);
}

.nfl {
	background-image: url(../img/nfl.gif);
}

.cfb {
	background-image: url(../img/cfb.gif);
}

/*.ATL {
	background-image: url(../img/atl.gif);
}

.BK {
	background-image: url(../img/bk.gif);
}

.BOS {
	background-image: url(../img/bos.gif);
}

.CHAR {
	background-image: url(../img/cha.gif);
}

.CHI {
	background-image: url(../img/chi.gif);
}

.CLE {
	background-image: url(../img/cle.gif);
}

.DAL {
	background-image: url(../img/dal.gif);
}

.DEN {
	background-image: url(../img/den.gif);
}

.DET {
	background-image: url(../img/det.gif);
}

.GS {
	background-image: url(../img/gs.gif);
}

.HOU {
	background-image: url(../img/hou.gif);
}

.IND {
	background-image: url(../img/ind.gif);
}

.LAC {
	background-image: url(../img/lac.gif);
}

.LAL {
	background-image: url(../img/lal.gif);
}

.MEM {
	background-image: url(../img/mem.gif);
}

.MIA {
	background-image: url(../img/mia.gif);
}

.MIL {
	background-image: url(../img/mil.gif);
}

.MIN {
	background-image: url(../img/min.gif);
}

.NO {
	background-image: url(../img/no.gif);
}

.NY {
	background-image: url(../img/ny.gif);
}

.OKC {
	background-image: url(../img/okc.gif);
}

.ORL {
	background-image: url(../img/orl.gif);
}

.PHI {
	background-image: url(../img/phi.gif);
}

.PHO {
	background-image: url(../img/phx.gif);
}

.POR {
	background-image: url(../img/por.gif);
}

.SA {
	background-image: url(../img/sa.gif);
}

.SAC {
	background-image: url(../img/sac.gif);
}

.TOR {
	background-image: url(../img/tor.gif);
}

.UTA {
	background-image: url(../img/uta.gif);
}

.WAS {
	background-image: url(../img/was.gif);
}
	*/
