<!DOCTYPE html>
<html class="no-js" lang="eng">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wagermetrics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    <link href='https://fonts.iu.edu/style.css?family=BentonSans:bold' rel='stylesheet' type='text/css'>
  </head>
  <body data-ng-app='wagerApp' class="container_16 clearfix">
    <main data-ng-controller='gamesController' data-ng-init='getAll()'>
    <header class="header">
        Wagermetrics
    </header>
    <nav class='navBar'>
      <h1 class='leftNavHeader'>NBA</h1>
      <h1 class='midNavHeader'>NFL</h1>
      <h2 class='comingSoon'>coming soon!</h2>
      <h1 class='midNavHeader'>NCAAFB</h1>
      <h2 class='comingSoon'>coming soon!</h2>
    </nav>
    <h1 class="grid_5 push_6 subheading">Trend Analyzer</h1>
      <form class="homeTeam">
        <select autocomplete='off' name="homeTeam" id="team" class="grid_6 push_5">
          <option value='blank' selected="selected">Team</option>
         <!--  creating a teamList object with properties name and value -->
          <option data-ng-repeat='team in teamList' data-ng-value='{{team.value}}'>{{team.name}}</option>
        </select>
      </form>
      <form class="homeRoad dropDown">
        <select autocomplete='off' name="homeAndRoad" id="teamCourt" class="grid_6 push_5">
          <option value="blank" selected="selected">Court</option>
          <option value="home">Home</option>
          <option value="road">Road</option>
        </select>
      </form>
      <form class="roadTeam dropDown">
        <select autocomplete='off' name="roadTeam" value="blank" id="opponent" class="grid_6 push_5">
          <option value="blank" selected="selected">Opponent</option>
          <option data-ng-repeat='team in teamList' data-ng-value='{{team.value}}'>{{team.name}}</option>
        </select>
      </form>
      <form class="homeRoad dropDown">
        <select autocomplete='off' name="homeAndRoad" id="gameType" class="grid_6 push_5">
          <option value="blank" selected="selected">Game Type</option>
          <option value="reg">Regular Season</option>
          <option value="playoff">Playoffs</option>
        </select>
      </form>
      <form class="homeRoad dropDown">
        <select autocomplete='off' name="homeAndRoad" id="season" class="grid_6 push_5">
          <option value="blank" selected="selected">Season</option>
          <option value="2014-15">2014-15</option>
          <option value="2013-14">2013-14</option>
          <option value="2012-13">2012-13</option>
          <option value="2011-12">2011-12</option>
        </select>
      </form>
      <form class="favUnder dropDown">
        <select autocomplete='off' name="favUnder" id="status" class="grid_6 push_5">
          <option value="blank">Spread Status</option>
          <option value="favorite">Favorite</option>
          <option value="underdog">Underdog</option>
        </select>
      </form>
      <form class="favUnder dropDown">
        <select autocomplete='off' name="favUnder" id="spreadMove" class="grid_6 push_5">
          <option value="blank">Spread Move</option>
          <option value="FOR">For</option>
          <option value="AGAINST">Against</option>
          <option value="NONE">None</option>
        </select>
      </form>
      <form class="favUnder dropDown">
        <select autocomplete='off' name="favUnder" id="totalMove" class="grid_6 push_5">
          <option value="blank">Total Move</option>
          <option value="UP">Up</option>
          <option value="DOWN">Down</option>
          <option value="NONE">None</option>
        </select>
      </form>
      <form class="spread dropDown">
       <select autocomplete='off' name="spread" id="spreadClose" class="grid_6 push_5">
        <option value="blank" selected="selected">Spread</option>
        <option data-ng-repeat='spread in spreadList' data-ng-value='{{spread}}'>{{spread}}</option>
       </select>
      </form>
      <button data-ng-click='getResultsClick()' getid='testClick' class="grid_2 push_7">Get Results</button>
      <div id="teamLogo" class ='nba'></div>
      <table class="resultsTable" id='winLossTable'>
        <tr>
          <td>Record</td>
          <td>Win %</td>
          <td>ROI</td>
        </tr>
        <tr>
          <td id='record'></td>
          <td id='winPercent'></td>
          <td id='spreadRoi'></td>
        </tr>
      </table>
      <table class='resultsTable' id='overUnderTable'>
        <tr>
          <td>Over</td>
          <td>Under</td>
          <td>Over %</td>
          <td>Under %</td>
          <td>Push</td>
          <td>Over ROI</td>
          <td>Under ROI</td>
        </tr>
        <tr>
          <td id='overCount'></td>
          <td id='underCount'></td>
          <td id='pushCount'></td>
          <td id='overPercent'></td>
          <td id='underPercent'></td>
          <td id='overRoi'></td>
          <td id='underRoi'></td>
        </tr>
      </table>
      <h1 class="break-even grid_5 push_4"> -110 break-even: 52.4% </h1>
      <h1 class="break-even grid_5 push_3"> -105 break-even: 51.2% </h1>
      <section>
        <table id='gamesTable' class='resultsTable'>
          <tr>
            <td>Date</td>
            <td>Team</td>
            <td>Court</td>
            <td>Opponent</td>
            <td>Score</td>
            <td>Result</td>
            <td>Spread</td>
            <td>Spread Move</td>
            <td>Spread Grade</td>
            <td>Total</td>
            <td>Total Move</td>
            <td>Total Grade</td>
          </tr>
        </table>
      </section>
    </main>
  <script src="bundle.js"></script>
  </body>
</html>
