<article>
  <section class="page">
    <div data-header-directive data-cfb-path="cfbPath" data-nfl-path="nflPath" data-nba-path="nbaPath"></div>
    <h1 class="grid_5 push_6 subheading">Trend Analyzer</h1>
    <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="teamAbbrev" data-dropdown-title="Team" data-container-class-name='dropdown' data-select-class-name='selectWithoutRange'>
    </div>
    <section class="dropDownSection">
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="teamSite" data-dropdown-title="Site" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="teamConference" data-dropdown-title="Team Conference" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="opponentAbbrev" data-dropdown-title="Opponent" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="opponentConference" data-dropdown-title="Opponent Conference" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="week" data-dropdown-title="Week" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="opponentDivision" data-dropdown-title="Opponent Division" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="season" data-dropdown-title="Season" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="gameType" data-dropdown-title="Game Type" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="spreadStatus" data-dropdown-title="Spread Status" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="spreadMove" data-dropdown-title="Spread Move" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
      <div data-select-range-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="spreadClose" data-less-list-name="spreadCloseLess" data-greater-list-name="spreadCloseGreater" data-dropdown-title="Spread" data-equals-disable-check="equalsDisableCheck" data-range-disable-check="rangeDisableCheck" data-equals-disabled="equalsDisabled" data-range-disabled="rangeDisabled">
      </div>
      <div data-select-directive data-sport-name="cfb" data-dropdown-lists="dropdownLists" data-list-name="totalMove" data-dropdown-title="Total Move" data-container-class-name='dropdown push_2' data-select-class-name='selectWithoutRange'>
      </div>
    </section>
    <div data-button-directive></div>
    <div id="teamLogo" class="cfb"></div>
    <div data-top-table-directive></div>
  </section>
  <section data-ng-if="resultsTable">
    <table id='gamesTable' class='table resultsTable'>
      <tr>
        <td>Date</td>
        <td>Week</td>
        <td>Team</td>
        <td>Site</td>
        <td>Opponent</td>
        <td>Score</td>
        <td>Result</td>
        <td>Spread</td>
        <td>Spread Move</td>
        <td>Spread Grade</td>
        <td>Total</td>
        <td>Total Move</td>
        <td>Total Grade</td>
      </tr>
      <tr data-ng-repeat="game in resultsTableGames" data-ng-class="{W: 'success', L: 'danger'}[game.atsGrade]">
        <td>{{game.date.split('T')[0]}}</td>
        <td>{{game.week}}</td>
        <td>{{game.teamAbbrev}}</td>
        <td>{{game.teamSite.toUpperCase()}}</td>
        <td>{{game.opponentAbbrev}}</td>
        <td>{{game.teamScore + '-' + game.opponentScore}}</td>
        <td>{{game.suGrade}}</td>
        <td>{{game.spreadClose + ' (' + game.spreadOpen + ')'}}</td>
        <td>{{game.spreadMove}}</td>
        <td>{{game.atsGrade}}</td>
        <td>{{game.totalClose + ' (' + game.totalOpen + ')'}}</td>
        <td>{{game.totalMove}}</td>
        <td>{{game.totalGrade}}</td>
      </tr>
    </table>
  </section>
</article>