<nav class="navBar">
  <h1 id="about">About</h1>
  <h2 class='comingSoon'>coming soon!</h2>
  <a id="nbaNav" class="navItem" data-ng-class="{true: 'currentNav'}[nbaPath]" href="../#/nba">NBA</a>
  <a id="nflNav" class="navItem" data-ng-class="{true: 'currentNav'}[nflPath]" href="../#/nfl">NFL</a>
  <a id="cfbNav" class="navItem" data-ng-class="{true: 'currentNav'}[cfbPath]" href="../#/cfb">NCAAF</a>
  <a id="cbbNav" class="navItem" data-ng-class="{true: 'currentNav'}[cbbPath]" href="../#/cbb">NCAAB</a>
  <h2 class='new'>NEW!</h2>
</nav>