<article>
  <section class="page">
    <div data-header-directive data-cfb-path="cfbPath" data-nfl-path="nflPath" data-nba-path="nbaPath"></div>
    <h1 class="grid_5 push_6 subheading">Trend Analyzer</h1>
    <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="team" data-dropdown-title="Team">
    </div>
    <section class="dropDownSection">
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="teamSite" data-dropdown-title="Court" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="opponent" data-dropdown-title="Opponent" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="gameType" data-dropdown-title="Game Type" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="season" data-dropdown-title="Season" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="spreadStatus" data-dropdown-title="Spread Status" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="spreadMove" data-dropdown-title="Spread Move" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="totalMove" data-dropdown-title="Total Move" data-class-name='dropDown push_2'>
      </div>
      <div data-select-directive data-sport-name="nba" data-dropdown-lists="dropdownLists" data-list-name="spreadClose" data-dropdown-title="Spread" data-class-name='dropDown push_2'>
      </div>
    </section>
    <button data-ng-click="filterGames()"  class="grid_2 push_7">Get Results</button>
    <div id="teamLogo" class='nba'></div>
    <table class="table-bordered resultsTable" id='winLossTable'>
      <tr>
        <td>Record</td>
        <td>Win %</td>
        <td>ROI</td>
      </tr>
      <tr>
        <td id='record'>{{winCount + "-" + lossCount + "-" + pushCount}}</td>
        <td id='winPercent'>{{percentWin}}</td>
        <td data-ng-class="spreadRoi.colorBool" id='spreadRoi'>{{spreadRoi.val}}</td>
      </tr>
    </table>
    <table class='table-bordered resultsTable' id='overUnderTable'>
      <tr>
        <td>Over</td>
        <td>Under</td>
        <td>Push</td>
        <td>Under %</td>
        <td>Push</td>
        <td>Over ROI</td>
        <td>Under ROI</td>
      </tr>
      <tr>
        <td id='overCount'>{{overCount}}</td>
        <td id='underCount'>{{underCount}}</td>
        <td id='pushCount'>{{pushTotalCount}}</td>
        <td id='overPercent'>{{percentOver}}</td>
        <td id='underPercent'>{{percentUnder}}</td>
        <td data-ng-class="overRoi.colorBool" id='overRoi'>{{overRoi.val}}</td>
        <td data-ng-class="underRoi.colorBool" id='underRoi'>{{underRoi.val}}</td>
      </tr>
    </table>
    <h1 class="break-even grid_5 push_4"> -110 break-even: 52.4% </h1>
    <h1 class="break-even grid_5 push_3"> -105 break-even: 51.2% </h1>
  </section>
  <section data-ng-if="resultsTable">
    <table id='gamesTable' class='table resultsTable'>
      <tr>
        <td>Date</td>
        <td>Team</td>
        <td>Court</td>
        <td>Opponent</td>
        <td>Score</td>
        <td>Result</td>
        <td>Spread</td>
        <td>Spread Move</td>
        <td>Spread Grade</td>
        <td>Total</td>
        <td>Total Move</td>
        <td>Total Grade</td>
      </tr>
      <tr data-ng-repeat="game in resultsTableGames" data-ng-class="{W: 'success', L: 'danger'}[game.atsGrade]">
        <td>{{game.date.split('T')[0]}}</td>
        <td>{{game.team}}</td>
        <td>{{game.teamSite.toUpperCase()}}</td>
        <td>{{game.opponent}}</td>
        <td>{{game.teamScore + '-' + game.opponentScore}}</td>
        <td>{{game.suGrade}}</td>
        <td>{{game.spreadClose + ' (' + game.spreadOpen + ')'}}</td>
        <td>{{game.spreadMove}}</td>
        <td>{{game.atsGrade}}</td>
        <td>{{game.totalClose + ' (' + game.totalOpen + ')'}}</td>
        <td>{{game.totalMove}}</td>
        <td>{{game.totalGrade}}</td>
      </tr>
    </table>
  </section>
</article>